@section Header{
    <style type="text/css">
        /*加载动态图片*/
        .dataTables_processing {
            position: absolute;
            top: 50%;
            left: 50%;
            width: 100%;
            height: 40px;
            margin-left: -50%;
            margin-top: -25px;
            padding-top: 20px;
            text-align: center;
            font-size: 1.2em;
            /*background-color: white;*/
        }

        .competence {
            height: auto;
            overflow: hidden;
        }

        .competence-t {
            height: 40px;
            line-height: 40px;
            border-bottom: #ccc dashed 1px;
        }

        .competence-b {
            height: auto;
            overflow: hidden;
            border: #ccc dashed 1px;
            margin: 10px;
            padding: 10px;
        }
    </style>
}

<div class="main-content">
    <div class="breadcrumbs" id="breadcrumbs">
        <script type="text/javascript">
            try { ace.settings.check('breadcrumbs', 'fixed') } catch (e) { }
        </script>

        <ul class="breadcrumb">
            <li>
                <i class="icon-home home-icon"></i>
                <a href="/Admin/Home">首页</a>
            </li>
            <li>
                <a href="/Admin/Role/RoleList">角色列表</a>
            </li>
            <li class="active">角色列表</li>
        </ul><!-- .breadcrumb -->
        <!-- #nav-search -->
    </div>
    <div class="page-content">
        <div class="row">
            <div class="col-xs-12">
                <!-- PAGE CONTENT BEGINS -->

                <div class="row">
                    <div class="col-xs-12">
                        <div class="table-header">
                            角色列表查看
                        </div>
                        <div class="hidden" id="hidden_filter">
                            @* 把需要搜索的条件放到hidden里面，在table格式化完成的时候直接调用$.html()赋值，免去了在js拼接标签的麻烦 *@
                            <div style="float:left;">
                                <label class="AddRole">
                                    <a id="AddNewRole" class="btn btn-xs btn-primary" data-toggle="modal" href="" onclick="showAddNewAdmin()" title="添加新角色">
                                        <i class="icon-plus-sign bigger-130"></i>
                                        添加新角色
                                    </a>
                                </label>
                            </div>
                        </div>
                        <div class="table-responsive dataTables_wrapper">
                            <table id="sample-table-2" class="table table-striped table-bordered table-hover">
                                <thead>
                                    <tr>
                                        <th class="center sorting_disabled" role="columnheader" rowspan="1" colspan="1" aria-label="" style="width: 58px;">
                                            <label>
                                                <input type="checkbox" class="ace">
                                                <span class="lbl"></span>
                                            </label>
                                        </th>
                                        <th>角色名称</th>
                                        <th>角色简介</th>
                                        <th>角色状态</th>
                                        <th>角色排序</th>
                                        <th style="width: 120px;">
                                            操作
                                        </th>
                                    </tr>
                                </thead>
                            </table>
                        </div>
                    </div>
                </div>
                <!-- PAGE CONTENT ENDS -->
            </div><!-- /.col -->
        </div><!-- /.row -->
    </div><!-- /.page-content -->
</div>
<div class="modal fade" id="ShowAdd" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    @RenderPage("/Areas/Admin/Views/Role/DisplayTemplates/RoleTemp.cshtml")
</div>

<div class="modal fade" id="ShowActionEdit" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    @Html.Partial("DisplayTemplates/RoleActionList")
</div>

@section script{
    <script src="/Content/assets/js/jquery.dataTables.min.js"></script>
    <script src="/Content/assets/js/jquery.dataTables.bootstrap.js"></script>
    <script src="/Content/assets/js/bootbox.min.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>

    <script type="text/javascript">
        var isSearch = false;
        var ids = $("#RoleActionList");
        $(function () {
            var objTable = $("#sample-table-2").dataTable({
                fnDrawCallback: function () {
                    OperationEdit();
                },
                aoColumns: [
                    { "sClass": "center", "mDataProp": "Id", "bSortable": false },
                    { "sClass": "center", "mDataProp": "Name", "bSortable": false },
                    { "sClass": "center", "mDataProp": "Intro", "bSortable": false },
                    { "sClass": "center", "mDataProp": "State", "bSortable": false },
                    { "mDataProp": "OrderNum", "sClass": "center", "bSortable": true, "asSorting": ["asc", "desc"] },
                    {
                        "sClass": "center",
                        "mDataProp": "Id",
                        "bSortable": false
                    }
                ],
                "bServerSide": true,//分页，取数据等等的都放到服务端去
                "bProcessing": true,//载入数据的时候是否显示“载入中”
                "aLengthMenu": [30, 50, 100],
                "bLengthChange": true, //改变每页显示数据数量
                //"bFilter": false, //过滤功能
                "iDisplayStart": 0,
                "iDisplayLength": 30,//首次加载的数据条数
                "bStorable": true,//排序操作在服务端进行，所以可以关了。
                "sAjaxSource": "/Admin/Role/RoleList",
                "fnServerParams": function (aoData, bStorable) {
                },
                /*如果加上下面这段内容，则使用post方式传递数据*/
                "fnServerData": function (sSource, aoData, fnCallback, bStorable) {
                    var paramList = {
                        "sEcho": 0,
                        "iDisplayLength": 0,
                        "iDisplayStart": 0,
                        "isDesc": bStorable.aaSorting[0][1] == "desc" ? true : false
                    };
                    if (bStorable.aaSorting[0][0] == 0) {
                        paramList.isDesc = true;
                    }
                    for (var i = 0; i < aoData.length; i++) {
                        if (aoData[i].name == "iDisplayStart") {
                            paramList.iDisplayStart = aoData[i].value;
                        } else if (aoData[i].name == "iDisplayLength") {
                            paramList.iDisplayLength = aoData[i].value;
                        } else if (aoData[i].name == "sEcho") {
                            paramList.sEcho = aoData[i].value;
                        }
                    }
                    $.ajax({
                        "dataType": 'json',
                        "type": "POST",
                        "url": sSource,
                        "data": paramList,
                        "success": function (resp) {
                            fnCallback(resp); //服务器端返回的对象的returnObject部分是要求的格式
                        }
                    });
                },
                "oLanguage": {
                    "sSearch": "搜索",
                    "sLengthMenu": "每页显示 _MENU_ 条记录",
                    "sZeroRecords": "抱歉， 没有找到",
                    "sInfo": "从 _START_ 到 _END_ 共 _TOTAL_ 条数据",
                    "sInfoEmpty": "没有数据",
                    "sInfoFiltered": "(从 _MAX_ 条数据中检索)",
                    "oPaginate": {
                        "sFirst": "首页",
                        "sPrevious": "前一页",
                        "sNext": "后一页",
                        "sLast": "尾页"
                    },
                    "sZeroRecords": "没有检索到数据",
                    "sProcessing": "<img src='/Content/assets/images/loading.gif' />"
                },
                "fnRowCallback": function (nRow, aData, iDisplayIndex) {  /* 用来改写指定行的样式 */
                    $('td:eq(0)', nRow).html("<label><input type=\"checkbox\" class=\"ace\" value=\"" + aData.Id + "\"><span class=\"lbl\"></span></label>");

                    var html = "<div class=\"visible-md visible-lg hidden-sm hidden-xs action-buttons\">";
                    // html += "<a class=\"blue\" href=\"#\"><i class=\"icon-zoom-in bigger-130\"></i></a>";//查看按钮
                    html += "<a class=\"green LookRole\" href=\"javascript:UpdateObj('" + aData.Id + "')\" title=\"编辑\"><i class=\"icon-pencil bigger-130\"></i></a>";//编辑
                    if (aData.State == 0) {
                        $('td:eq(4)', nRow).html("<i class=\"icon-ok green bigger-120\"></i>");
                        html += "<a class=\"red UpdateRole\" href=\"javascript:CanShow('" + aData.Id + "',1)\" title=\"假删除\"><i class=\"icon-remove bigger-130\"></i></a>";//删除
                    }
                    else {
                        $('td:eq(4)', nRow).html("<i class=\"icon-remove red bigger-120\"></i>");
                        html += "<a class=\"green UpdateRole\" href=\"javascript:CanShow('" + aData.Id + "',0)\" title=\"恢复正常\"><i class=\"icon-ok bigger-130\"></i></a>";
                    }
                    html += "<a href=\"javascript:UpdateAction(" + aData.Id + ")\" class=\"editOperate LookActionRole\" title=\"动作编辑\"><i class=\"icon-user green bigger-120\"></i></a>";
                    html += "<a class=\"red DeleteRole\" href=\"javascript:DeleteObj('" + aData.Id + "')\" title=\"彻底删除\"><i class=\"icon-trash bigger-130\"></i></a>";//删除
                    html += "</div>";
                    $('td:eq(5)', nRow).html(html);
                    return nRow;
                }
            });
            //下面的代码主要是将下拉框的位置已到右边去
            $("#sample-table-2_length").parents().first().removeClass("col-sm-6").addClass("col-sm-3");
            $("#sample-table-2_length").parents().first().css("float", "right");
            $("#sample-table-2_filter").parents().first().removeClass("col-sm-6").addClass("col-sm-8");
            $("#sample-table-2_filter").parents().first().css("float", "left");
            $("#sample-table-2_length").css("float", "right");
            $("#sample-table-2_filter").html($("#hidden_filter").html());
            $("#hidden_filter").remove();
        })

        function showAddNewAdmin() {
            $("#Id").val(0);
            $('#ShowAdd').modal();
        }
        function UpdateObj(id) {
            $.ajax({
                type: "post",
                data: { id: id },
                url: "/Admin/Role/GetRoleInfo",
                success: function (result) {
                    if (result.state == "success") {
                        $("#Id").val(id);
                        $("#Name").val(result.result.Name);
                        $("#Intro").val(result.result.Intro);
                        $("#OrderNum").val(result.result.OrderNum);
                        if (result.result.State == 1) {
                            $("input[name='State']").eq(0).removeAttr("checked");
                            $("input[name='State']").eq(1).attr("checked", "checked");
                        }
                        else {
                            $("input[name='State']").eq(0).attr("checked", "checked");
                            $("input[name='State']").eq(1).removeAttr("checked");
                        }
                        $('#ShowAdd').modal();
                    } else {
                        bootbox.alert({
                            buttons: {
                                ok: {
                                    label: '我知道了',
                                    className: 'btn btn-primary'
                                }
                            }, callback: function () {
                            },
                            message: result.message
                        });
                    }
                }
            })
        }
        $("#AddRoleForm").submit(function () {
            if ($("#AddRoleForm").valid()) {
                var url = "/Admin/Role/AddRole";
                if ($("#Id").val() > 0) {
                    url = "/Admin/Role/UpdateRole";
                }
                $.ajax({
                    type: "post",
                    data: $("#AddRoleForm").serialize(),
                    url: url,
                    success: function (result) {
                        if (result.state == "success") {
                            $('#ShowAdd').modal('hide');//关闭模态框
                            document.getElementById("AddRoleForm").reset();//清空表单
                            bootbox.alert({
                                buttons: {
                                    ok: {
                                        label: '我知道了',
                                        className: 'btn btn-primary'
                                    }
                                }, callback: function () {
                                    $("#sample-table-2").dataTable().fnDraw();//点搜索重新绘制table。
                                },
                                message: result.message
                            });
                        } else {
                            bootbox.alert({
                                buttons: {
                                    ok: {
                                        label: '我知道了',
                                        className: 'btn btn-primary'
                                    }
                                }, callback: function () {
                                },
                                message: result.message
                            });
                        }
                    }
                })
                return false;
            }
            else {
                return false;
            }
        })
        function CanShow(id, state) {
            bootbox.confirm({
                buttons: {
                    confirm: {
                        label: '确定',
                        className: 'btn-primary'
                    },
                    cancel: {
                        label: '取消',
                        className: 'btn-default'
                    }
                },
                message: state == 0 ? "确定该角色恢复正常状态吗" : "确定该角色进行假删除吗",
                callback: function (result) {
                    if (result) {
                        UpdateState(id, state)
                    }
                }
            });
        }
        function UpdateState(id, state) {
            $.ajax({
                type: "post",
                data: { id: id, state: state },
                url: "/Admin/Role/UpdateState",
                success: function (result) {
                    if (result.state == "success") {
                        bootbox.alert({
                            buttons: {
                                ok: {
                                    label: '我知道了',
                                    className: 'btn btn-primary'
                                }
                            }, callback: function () {
                                $("#sample-table-2").dataTable().fnDraw();//点搜索重新绘制table。
                            },
                            message: result.message
                        });
                    } else {
                        bootbox.alert({
                            buttons: {
                                ok: {
                                    label: '我知道了',
                                    className: 'btn btn-primary'
                                }
                            }, callback: function () {
                            },
                            message: result.message
                        });
                    }
                }
            })
        }
        function DeleteObj(id) {
            bootbox.confirm({
                buttons: {
                    confirm: {
                        label: '确定',
                        className: 'btn-primary'
                    },
                    cancel: {
                        label: '取消',
                        className: 'btn-default'
                    }
                },
                message: "确定要彻底删除该角色吗？",
                callback: function (result) {
                    if (result) {
                        $.ajax({
                            type: "post",
                            data: { id: id },
                            url: "/Admin/Role/DeleteRole",
                            success: function (result) {
                                if (result.state == "success") {
                                    bootbox.alert({
                                        buttons: {
                                            ok: {
                                                label: '我知道了',
                                                className: 'btn btn-primary'
                                            }
                                        }, callback: function () {
                                            $("#sample-table-2").dataTable().fnDraw();//点搜索重新绘制table。
                                        },
                                        message: result.message
                                    });
                                } else {
                                    bootbox.alert({
                                        buttons: {
                                            ok: {
                                                label: '我知道了',
                                                className: 'btn btn-primary'
                                            }
                                        }, callback: function () {
                                        },
                                        message: result.message
                                    });
                                }
                            }
                        })
                    }
                }
            });
        }



        //角色与页面按钮编辑
        function UpdateAction(id) {
            $("#ActionEditId").val(id);
            $.ajax({
                type: "post",
                url: "/Admin/Role/RolePageActionDesc",
                data: {id:id},
                success: function (result) {
                    var res = result.authoryPageList;
                    for (var i = 0; i < res.length; i++) {
                        $(".competence-t").find("input[type=checkbox]").each(function () {
                            if ($(this).val() == res[i].PageId) {
                                if (res[i].IsShow == 1) {
                                    this.checked = true;
                                } else {
                                    this.checked = false;
                                }
                                var actionList = eval('(' + res[i].ActionList + ')')
                                $(this).parent().next().find("input[type=checkbox]").each(function () {
                                    for (var j = 0; j < actionList.length; j++) {
                                        if ($(this).val() == actionList[j].ActionId) {
                                            if (actionList[j].actionChecked == 1) {
                                                this.checked = true;
                                            } else {
                                                this.checked = false;
                                            }
                                        }
                                    }
                                })
                            }
                        })
                    }
                }
            })
            $('#ShowActionEdit').modal();
        }

        //选中栏目下所有子栏目
        function selectMenu(obj) {

            if ($(obj).is(":checked")) {//如果选中
                //设置所有子栏目为选中状态，并赋值
                $(obj).parent().next().find("input[type=checkbox]").each(function () {
                    this.checked = true;
                });
            }
            else {//如果没有选中
                ////设置所有子栏目为未选中状态
                $(obj).parent().next().find("input[type=checkbox]").each(function () {
                    this.checked = false;
                });
            }
        }
        //单选
        function selectSign(obj) {
            if ($(obj).is(":checked")) {//如果选中
                $(obj).parent().prev().find("input[type=checkbox]").each(function () {
                    this.checked = true;
                });

            }
            else {//如果未选中
                //设置父栏目为未选中状态
                var parentChecked = false;
                $(obj).parent().find("input[type=checkbox]").each(function () {
                    if (this.checked) {
                        parentChecked = true;
                    }
                })
                $(obj).parent().prev().find("input[type=checkbox]").each(function () {
                    this.checked = parentChecked;
                });
            }
        }
        //全选
        function selectAll(obj) {
            if ($(obj).is(":checked")) {//如果选中
                $(".com").find("input[type=checkbox]").each(function () {
                    this.checked = true;
                });
            }
            else {
                $(".com").find("input[type=checkbox]").each(function () {
                    this.checked = false;
                });
            }
        }
        //提交页面动作
        $("#EditRoleActionForm").submit(function () {
            var actionJson = "";
            $(".competence-t").each(function () {
                var checkedValue = "";
                $(this).find("input[type=checkbox]").each(function () {
                        checkedValue += '{';
                        checkedValue += '\"PageId\"';
                        checkedValue += ':';
                        checkedValue += $(this).val();
                        checkedValue += ',';
                        checkedValue += '\"ActionList\"';
                        checkedValue += ':';
                        checkedValue += '[';
                        var actionValue = "";
                        $(this).parent().next().find("input[type=checkbox]").each(function () {
                            actionValue += "{";
                            actionValue += '\"ActionId\"';
                            actionValue += ':';
                            actionValue += $(this).val();
                            actionValue += ",";
                            actionValue += "\"actionChecked\"";
                            actionValue += ':';
                            if (this.checked) {
                                actionValue += '1';
                            } else {
                                actionValue += '0';
                            }
                            actionValue += "}";
                            actionValue += ",";
                        })
                        if (actionValue.trim() != "") {
                            actionValue = actionValue.substr(0, actionValue.length - 1);
                        }
                        checkedValue += actionValue;
                        checkedValue += ']';
                        checkedValue += '}';
                        checkedValue += ',';
                })
                actionJson += checkedValue;
            })
            if (actionJson.trim()!="") {
                actionJson= actionJson.substr(0, actionJson.length - 1);
            }
            var resultJson = "[" + actionJson + "]"
            $.ajax({
                type: "post",
                url: "/Admin/Role/UpdatePageAction/" + $("#ActionEditId").val(),
                data: resultJson,
                contentType: "application/json;charset=utf-8",
                dataType:"json",
                success: function (result) {
                    if (result.state == "success") {
                        bootbox.alert({
                            buttons: {
                                ok: {
                                    label: '我知道了',
                                    className: 'btn btn-primary'
                                }
                            }, callback: function () {
                                $("#ActionEditId").val(0);
                                $('#ShowActionEdit').modal('hide');
                            },
                            message: result.message
                        });
                    } else {
                        bootbox.alert({
                            buttons: {
                                ok: {
                                    label: '我知道了',
                                    className: 'btn btn-primary'
                                }
                            }, callback: function () {
                            },
                            message: result.message
                        });
                    }
                    return false;
                }
            })
            return false;
        })
    </script>
}


