@{
    IEnumerable<AuthorDesign.Model.PageMenuAction> pageMenuList = Model;


    List<AuthorDesign.Model.PageAction> actionList = AuthorDesign.Web.App_Start.Common.AdminMenuHelper.LoadActionCodeList();
}

<div class="main-content col-xs-8" style="margin-top: 70px; margin-left: 15%;">
    <div class="page-content">
        <div class="row">

            <div class="page-header">
                <h1>
                    管理员页面按钮管理
                    <small>
                        <i class="icon-double-angle-right"></i>
                        <span id="ShowText">管理员页面按钮编辑</span>
                    </small>
                </h1>
            </div>
            <div class="col-lg-10 col-lg-offset-2">
                <form id="EditRoleActionForm" class="form-horizontal">
                    <input type="hidden" id="ActionEditId" value="@ViewBag.Id" />
                    <div class="com">
                        @RenderPage("/Areas/Admin/Views/Admin/DisplayTemplates/AdminActionTemp.cshtml", new { ActionList = actionList, PageMenuList = pageMenuList, Pid = 0 })
                    </div>

                    <div>
                        <input type="checkbox" onclick="selectAll(this)"> 全选
                    </div>

                    <div class="space-4"></div>

                    <div class="form-group">
                        <div class="col-lg-9 col-lg-offset-3">
                            <button class="btn btn-primary UpdateActionRole" type="button" onclick="SubmitActionList()">
                                <i class="icon-ok bigger-110"></i>
                                保存
                            </button>
                            <button class="btn" type="reset" data-dismiss="modal">
                                <i class="icon-undo bigger-110"></i>
                                取消
                            </button>
                        </div>
                    </div>
                </form>
            </div>

            <!-- /.row -->
        </div>
    </div>
    <!-- /.page-content -->
</div>
